/* Style for BotCollection component */

.bot-collection {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create two equally spaced columns */
  gap: 20px;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
   /* Align items at the top of each column */
}



.bot-collection-item {
  background-color: #03010e;
  padding: 20px;
  border: 1px solid #e27c08;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create three equally spaced columns */
  gap: 20px;
  justify-content: space-between;
  min-height: 250px;
}

/* Style for YourBotArmy component */
.your-bot-army {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create three equally spaced columns */
  gap: 20px;
  justify-content: center;
  align-items: start; /* Align items at the top of each column */
  flex-wrap: wrap;
  min-height: 250px;
}

/* Adjust the alignment of images */
.bot-card img {
  max-width: 100%; /* Ensure images don't exceed their container width */
}
